

<div id="user_nav">
  <% if current_user %>
    <%= link_to "#{current_user.first_name}: Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<%#= count_instances_in(messages_cleaned_for_counting, :recipients) if current_user.present? %>
<%#= current_user.some_thing["query3"] if current_user.present? %>
<%#= count_instances_in(friend_streams, :actor_id) if current_user.present? %>
<%#= processed_facebook_object.to_json.html_safe if current_user.present? %>

<%= render "pages/facebook_graph" %>
<%#= render "pages/test_d3" %>

<div id="test_d3"></div>

