<h1>Hello home!</h1>

<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.first_name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
